<section class="benefits">
    <div class="container">
        <div class="benefits__container">
            <div class="benefits__title">
                <h1>ЧТО ВЫ ПОЛУЧИТЕ В ИТОГЕ</h1>
            </div>
            <div class="benefits__main">
                <h2>Что вы получаете в итоге:</h2>
                <p>Work and Travel USA — тебе наверняка не раз приходилось слышать эти слова от своих друзей, родных
                   или знакомых. И это не удивительно, ведь это самая популярная студенческая программа последнего
                   десятилетия. Только она даёт тебе отличную возможность провести лето в Соединённых Штатах Америки,
                    жить на берегу океана или в мегаполисе, работать бок о бок с американцами и такими же как ты
                    студентами из разных стран, зарабатывать хорошие деньги, в совершенстве овладеть английским,
                    отправиться в незабываемое путешествие и почувствовать настоящую свободу.
                </p>
                <div class="benefits__img__wrap">
                    <div class="benefits__img--main">
                        <img src="../../img/benefits_img.jpg" alt="img_not_found">
                    </div>
                    <div class="benefits__img--main">
                        <img src="../../img/benefits_img.jpg" alt="img_not_found">
                    </div>
                    <div class="benefits__img--main">
                        <img src="../../img/benefits_img.jpg" alt="img_not_found">
                    </div>
                </div>
                <h2>Что вы получаете в итоге:</h2>
                <p>Work and Travel USA — тебе наверняка не раз приходилось слышать эти слова от своих друзей, родных
                    или знакомых. И это не удивительно, ведь это самая популярная студенческая программа последнего
                    десятилетия. Только она даёт тебе отличную возможность провести лето в Соединённых Штатах Америки,
                    жить на берегу океана или в мегаполисе, работать бок о бок с американцами и такими же как ты
                    студентами из разных стран, зарабатывать хорошие деньги, в совершенстве овладеть английским,
                    отправиться в незабываемое путешествие и почувствовать настоящую свободу.
                </p>
                <h2>Что вы получаете в итоге:</h2>
                <p>Work and Travel USA — тебе наверняка не раз приходилось слышать эти слова от своих друзей, родных
                    или знакомых. И это не удивительно, ведь это самая популярная студенческая программа последнего
                    десятилетия. Только она даёт тебе отличную возможность провести лето в Соединённых Штатах Америки,
                    жить на берегу океана или в мегаполисе, работать бок о бок с американцами и такими же как ты
                    студентами из разных стран, зарабатывать хорошие деньги, в совершенстве овладеть английским,
                    отправиться в незабываемое путешествие и почувствовать настоящую свободу.
                </p>
            </div>
        </div>
    </div>
</section>