<section class="head__main">
    <div class="container">
        <div class="logo">
            <img src="../img/logo.png" alt="logo_not_found">
        </div>
            <ul class="features clearfix">
               <li>
                   <div class="features--icon">
                       <img src="../pic/map.png" alt="img_not_found">
                   </div>
                   <div class="features--description">
                       <p>Вся Украина</p>
                       <p>- система online</p>
                   </div>
               </li>
                <li>
                    <div class="features--icon">
                        <img src="../pic/transparently.png" alt="img_not_found">
                    </div>
                    <div class="features--description">
                        <p>Прозрачно</p>
                        <p>- без скрытых комисий</p>
                    </div>
                </li>
                <li>
                    <div class="features--icon">
                        <img src="../pic/available.png" alt="img_not_found">
                    </div>
                    <div class="features--description">
                        <p>Доступно</p>
                        <p>- понятно с 1-го раза </p>
                    </div>
                </li>
            </ul>
        <div class="head__main--title">
            <div class="clearfix">
                <h1>ЗА ГРАНИЦУ ЧЕРЕЗ ОБРАЗОВАНИЕ И КАРЬЕРУ!</h1>
                <h2>НАЙДИ СВОЕ МЕСТО ПОД СОЛНЦЕМ УЖЕ СЕГОДНЯ!</h2>
            </div>
            <div class="how__it__works">
                <form action="buttons">
                    <button class="btn__how-it-works">Как это работает</button>
                </form>
            </div>
        </div>
    </div>
</section>