<section class="stories__under__sun">
    <div class="container">
        <div class="stories__under__sun--header">
            <h1>ИСТОРИИ «ПОД СОЛНЦЕМ»</h1>
        </div>
        <div class="stories__all clearfix2">
            <a href="all_stories.html" target="self">
                Все истории
            </a>
        </div>
        <div id="slider-2">
            <a href="stories_1.html" target="self">
                <div class="stories__item item">
                    <div class="stories__item--img">
                        <img src="../img/stories_1.png" alt="img_not_found">
                    </div>
                    <div class="stories__item--name">
                        <h1>Анжелика</h1>
                        <p>студентка, 29 лет</p>
                        <div class="stories__item--description">
                            <p>Китай, Волонтерская</p>
                            <p>программа</p>
                            <p>2014 год (4 месяца)</p>
                        </div>
                    </div>
                    <div class="stories__item--main">
                        <h3>«Пекин это что-то, а утку не пробовал»</h3>
                        <p>Как путешествовать и учить язык за малые деньги? Задавал себе этот</p>
                        <p>вопрос каждый раз когда смотрела «Орел и решка». Оказалось, что ...</p>
                    </div>
                </div>
            </a>
            <a href="stories_2.html" target="self">
                <div class="stories__item item">
                    <div class="stories__item--img">
                        <img src="../img/stories_2.png" alt="img_not_found">
                    </div>
                    <div class="stories__item--name story-next-name">
                        <h1>Иван</h1>
                        <p>студент, 29 лет</p>
                        <div class="stories__item--description">
                            <p>Китай, Волонтерская</p>
                            <p>программа</p>
                            <p>2014 год (4 месяца)</p>
                        </div>
                    </div>
                    <div class="stories__item--main story-next-main">
                        <h3>«Пекин это что-то, а утку не пробовал»</h3>
                        <p>Как путешествовать и учить язык за малые деньг? Задавал себе этот</p>
                        <p>вопрос каждый раз когда смотрел «Орел и решка». Оказалось, что ...</p>
                    </div>
                </div>
            </a>
            <a href="stories_1.html" target="_self ">
                <div class="stories__item item">
                    <div class="stories__item--img">
                        <img src="../img/stories_1.png" alt="img_not_found">
                    </div>
                    <div class="stories__item--name">
                        <h1>Анжелика</h1>
                        <p>студентка, 29 лет</p>
                        <div class="stories__item--description">
                            <p>Китай, Волонтерская</p>
                            <p>программа</p>
                            <p>2014 год (4 месяца)</p>
                        </div>
                    </div>
                    <div class="stories__item--main">
                        <h3>«Пекин это что-то, а утку не пробовал»</h3>
                        <p>Как путешествовать и учить язык за малые деньг? Задавал себе этот</p>
                        <p>вопрос каждый раз когда смотрела «Орел и решка». Оказалось, что ...</p>
                    </div>
                </div>
            </a>
            <a href="stories_2.html"target="self">
                <div class="stories__item item">
                    <div class="stories__item--img">
                        <img src="../img/stories_2.png" alt="img_not_found">
                    </div>
                    <div class="stories__item--name story-next-name">
                        <h1>Иван</h1>
                        <p>студент, 29 лет</p>
                        <div class="stories__item--description">
                            <p>Китай, Волонтерская</p>
                            <p>программа</p>
                            <p>2014 год (4 месяца)</p>
                        </div>
                    </div>
                    <div class="stories__item--main story-next-main">
                        <h3>«Пекин это что-то, а утку не пробовал»</h3>
                        <p>Как путешествовать и учить язык за малые деньг? Задавал себе этот</p>
                        <p>вопрос каждый раз когда смотрел «Орел и решка». Оказалось, что ...</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>