<section class="stories__under__sun">
    <div class="container">
        <div class="stories__under__sun--header">
            <h1>ИСТОРИИ «ПОД СОЛНЦЕМ»</h1>
        </div>
        <div class="stories__all clearfix">
            <a href="all_stories.html" target="self">
                Все истории
            </a>
        </div>
    </div>

    <div id="slider-3">
        <div class="stories_under_sun_1 item">
            <div class="container">
                <div class="stories__item-1">
                    <div class="stories__item-header1 story-next-name">
                        <h1>Анжелика</h1>
                        <p>студентка, 29 лет</p>
                        <div class="stories__item-header-description1">
                            <p>Китай, Волонтерская</p>
                            <p>программа</p>
                            <p>2014 год (4 месяца)</p>
                        </div>
                    </div>
                    <div class="stories__item-1-name">
                        <h2>«Пекин это что-то, а утку не пробовал»</h2>
                    </div>
                    <div class="stories__item-1-description">
                        <p>
                            Work and Travel USA — тебе наверняка не раз приходилось слышать эти слова от своих друзей, родных или знакомых. И это не удивительно, ведь это самая популярная студенческая программа последнего десятилетия. Только она даёт тебе отличную возможность провести лето в Соединённых Штатах Америки, жить на берегу океана или в мегаполисе, работать бок о бок с американцами и такими же как ты студентами из разных стран, зарабатывать хорошие деньги, в совершенстве овладеть английским, отправиться в незабываемое путешествие и почувствовать настоящую свободу.
                            <br>
                            <br>
                            Work and Travel USA — тебе наверняка не раз приходилось слышать эти слова от своих друзей, родных или знакомых. И это не удивительно, ведь это самая популярная студенческая программа последнего десятилетия. Только она даёт тебе отличную возможность провести лето в Соединённых Штатах Америки, жить на берегу океана или в мегаполисе, работать бок о бок с американцами и такими же как ты студентами из разных стран, зарабатывать хорошие деньги, в совершенстве овладеть английским, отправиться в незабываемое путешествие и почувствовать настоящую свободу.
                            <br>
                            <br>
                            Work and Travel USA — тебе наверняка не раз приходилось слышать эти слова от своих друзей, родных или знакомых. И это не удивительно, ведь это самая популярная студенческая программа последнего десятилетия. Только она даёт тебе отличную возможность провести лето в Соединённых Штатах Америки, жить на берегу океана или в мегаполисе, работать бок о бок с американцами и такими же как ты студентами из разных стран, зарабатывать хорошие деньги, в совершенстве овладеть английским, отправиться в незабываемое путешествие и почувствовать настоящую свободу.
                            <br>
                            <br>
                            Work and Travel USA — тебе наверняка не раз приходилось слышать эти слова от своих друзей, родных или знакомых. И это не удивительно, ведь это самая популярная студенческая программа последнего десятилетия. Только она даёт тебе отличную возможность провести лето в Соединённых Штатах Америки, жить на берегу океана или в мегаполисе, работать бок о бок с американцами и такими же как ты студентами из разных стран, зарабатывать хорошие деньги, в совершенстве овладеть английским, отправиться в незабываемое путешествие и почувствовать настоящую свободу.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="stories_under_sun_2 item">
            <div class="container">
                <div class="stories__item-2">
                    <div class="stories__item-header2 story-next-name">
                        <h1>Иван</h1>
                        <p>студент, 29 лет</p>
                        <div class="stories__item-header-description2">
                            <p>Китай, Волонтерская</p>
                            <p>программа</p>
                            <p>2014 год (4 месяца)</p>
                        </div>
                    </div>
                    <div class="stories__item-2-name">
                        <h2>«Пекин это что-то, а утку не пробовал»</h2>
                    </div>
                    <div class="stories__item-2-description">
                        <p>
                            Work and Travel USA — тебе наверняка не раз приходилось слышать эти слова от своих друзей, родных или знакомых. И это не удивительно, ведь это самая популярная студенческая программа последнего десятилетия. Только она даёт тебе отличную возможность провести лето в Соединённых Штатах Америки, жить на берегу океана или в мегаполисе, работать бок о бок с американцами и такими же как ты студентами из разных стран, зарабатывать хорошие деньги, в совершенстве овладеть английским, отправиться в незабываемое путешествие и почувствовать настоящую свободу.
                            <br>
                            <br>
                            Work and Travel USA — тебе наверняка не раз приходилось слышать эти слова от своих друзей, родных или знакомых. И это не удивительно, ведь это самая популярная студенческая программа последнего десятилетия. Только она даёт тебе отличную возможность провести лето в Соединённых Штатах Америки, жить на берегу океана или в мегаполисе, работать бок о бок с американцами и такими же как ты студентами из разных стран, зарабатывать хорошие деньги, в совершенстве овладеть английским, отправиться в незабываемое путешествие и почувствовать настоящую свободу.
                            <br>
                            <br>
                            Work and Travel USA — тебе наверняка не раз приходилось слышать эти слова от своих друзей, родных или знакомых. И это не удивительно, ведь это самая популярная студенческая программа последнего десятилетия. Только она даёт тебе отличную возможность провести лето в Соединённых Штатах Америки, жить на берегу океана или в мегаполисе, работать бок о бок с американцами и такими же как ты студентами из разных стран, зарабатывать хорошие деньги, в совершенстве овладеть английским, отправиться в незабываемое путешествие и почувствовать настоящую свободу.
                            <br>
                            <br>
                            Work and Travel USA — тебе наверняка не раз приходилось слышать эти слова от своих друзей, родных или знакомых. И это не удивительно, ведь это самая популярная студенческая программа последнего десятилетия. Только она даёт тебе отличную возможность провести лето в Соединённых Штатах Америки, жить на берегу океана или в мегаполисе, работать бок о бок с американцами и такими же как ты студентами из разных стран, зарабатывать хорошие деньги, в совершенстве овладеть английским, отправиться в незабываемое путешествие и почувствовать настоящую свободу.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>