<footer class="footer">
    <div class="container">
        <div class="footer__wrap">
        <div class="footer__about-us">
            <p>
                Узнайте больше о нас:
            </p>
            <ul>
                <li>
                    <a href="about_us.html" target="_self">О нас</a>
                </li>
                <li>
                    <a href="process_payment.html" target="_self">Процесс и оплата</a>
                </li>
                <li>
                    <a href="trust_security.html" target="_self">Доверие и безопасность</a>
                </li>
                <li>
                    <a href="faq.html" target="_self">Помощь (FAQ)</a>
                </li>
                <li>
                    <a href="blog.html" target="_self">Блог</a>
                </li>
                <li>
                    <a href="contacts.html" target="_self">Контакты</a>
                </li>
                <li>
                    <a href="site_map.html" target="_self">Карта сайта</a>
                </li>
            </ul>
        </div>
        <div class="footer__programs">
            <p>
                Программы:
            </p>
            <ul>
                <li>
                    <a href="holiday.html" target="_self">Каникулы</a>
                </li>
                <li>
                    <a href="language_courses.html" target="_self">Языковые курсы</a>
                </li>
                <li>
                    <a href="secondary_education.html" target="_self">Среднее образование</a>
                </li>
                <li>
                    <a href="higher_education.html" target="_self ">Высшее образование</a>
                </li>
                <li>
                    <a href="magistracy.html" target="_self">Магистратура</a>
                </li>
                <li>
                    <a href="traineeship.html" target="_self" >Стажировка/Практика</a>
                </li>
                <li>
                    <a href="migration.html" target="_self ">Миграция</a>
                </li>
                <li>
                    <a href="work.html" target="_self ">Работа</a>
                </li>
            </ul>
        </div>
        <div class="footer__countries">
            <p>Страны:</p>
            <div class="footer__countries__wrap">
                <ul class="footer__countries--box">
                    <li>Весь мир</li>
                    <li>Севереная Америка</li>
                    <li>США</li>
                    <li>Канада</li>
                    <li>Южная Америка</li>
                    <li>Бразилия</li>
                    <li>Аргентина</li>
                    <li>Вся Европа (EU)</li>
                    <li>Англия</li>
                    <li>Германия</li>
                    <li>Польша</li>
                    <li>Швеция</li>
                    <li>Нидерланды</li>
                    <li>Сингапур</li>
                </ul>
            </div>
        </div>
        <div class="footer__contacts">
            <p>Наши контакты:</p>
            <ul>
                <li>
                    <a href="tel:+380991001010">МТС (099) 100 10 10</a>
                </li>
                <li>
                    <a href="tel:+380672002020">КС + Viber (067) 200 20 20</a>
                </li>
                <li>
                    <a href="skype:mps?call">Skype: mps</a>
                </li>
            </ul>
            <form action="buttons">
                <button type="button" class="btn__consultation">Хочу консультацию</button>
            </form>
            <p>Наш адрес:</p>
            <ul>
                <li>г. Киев, пр. Шевченко, 18</li>
                <li>офис №205 (2 эт.)</li>
            </ul>
        </div>
    </div>
    <div class="footer__copyright">
        <p>© Группа компаний «Место под солнцем», 2016</p>
    </div>

    </div>
</footer>