<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Место под солнцем</title>
    <link rel="icon" href="../pic/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../pic/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="../owl-carousel/owl.theme.css">
    <script src="../owl-carousel/jquery.min.js"></script>
    <script src="../owl-carousel/owl.carousel.min.js"></script>
    <script src="../js/stories_sliders.js"></script>
    <script src="../js/clickPriority.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Exo+2:100,300,400,700|Ubuntu:300" rel="stylesheet">
</head>
