<header class="header">
    <div class="header__fixed">
        <div class="container">
            <nav class="navbar clearfix">
                <ul class="navbar__menu clearfix">
                    <li>
                        <a href="about_us.html" target="_self">О нас</a>
                    </li>
                    <li>
                        <a href="process_payment.html" target="_self">Процесс и оплата</a>
                    </li>
                    <li>
                        <a href="guarantees.html" target="_self">Гарантии</a>
                    </li>
                    <li>
                        <a href="q&a.html" target="_self">Вопросы и ответы</a>
                    </li>
                    <li>
                        <a href="blog.html" target="_self">Блог</a>
                    </li>
                    <li>
                        <a href="contacts.html" target="_self">Контакты</a>
                    </li>
                </ul>
                <div class="header__phone">
                    <form>
                        <select title="Наш телефон">
                            <option>МТS (099) 100 10 10</option>
                            <option>KS (067) 200 20 20</option>
                        </select>
                    </form>
                </div>
                <div class="header__consultation">
                    <form action="want_button.php">
                        <button class="btn__consultation">Хочу консультацию</button>
                    </form>
                </div>
            </nav>
        </div>
    </div>
</header>