<header class="header">
    <div class="header__fixed">
        <div class="container">
            <nav class="navbar clearfix">
                <ul class="navbar__menu clearfix">
                    <li>
                        <a href="#">О нас</a>
                    </li>
                    <li>
                        <a href="#">Процесс и оплата</a>
                    </li>
                    <li>
                        <a href="#">Гарантии</a>
                    </li>
                    <li>
                        <a href="#">Вопросы и ответы</a>
                    </li>
                    <li>
                        <a href="#">Блог</a>
                    </li>
                    <li>
                        <a href="#">Контакты</a>
                    </li>
                </ul>
                <div class="header__phone">
                    <form>
                        <select title="Наш телефон">
                            <option>МТS (099) 100 10 10</option>
                            <option>KS (067) 200 20 20</option>
                        </select>
                    </form>
                </div>
                <div class="header__consultation">
                    <form action="want_button.php">
                        <button class="btn__consultation">Хочу консультацию</button>
                    </form>
                </div>
            </nav>
        </div>
    </div>
</header>