<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Место под солнцем</title>
    <link rel="icon" href="../pic/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../pic/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,900italic,700italic,700,900,400italic,300italic,300,100italic' rel='stylesheet' type='text/css'>
</head>
