.footer {
  background-color: #666;
  .container {
  .footer__wrap {
    padding: 1em 0;
    display: flex;
    justify-content: space-around;
    width: 80%;
    padding-left: 20%;
      .footer__about-us,
      .footer__programs {
        display: block;
        padding: 0 0.5em;
        color: #fff;
        font-family: 'Ubuntu', sans-serif;
        font-size: 1em;
        font-weight: 300;
        text-align: justify;
        p {
          padding: 0 0 1em 0;
          font-family: 'Exo 2', sans-serif;
          font-size: 1.3em;
          font-weight: 400;
          line-height: 1.5;
        }
        ul {
          list-style-type: none;
          padding: 0;
          li {
            font-family: 'Ubuntu', sans-serif;
            font-size: 0.9em;
            font-weight: 300;
            color: #fff;
            line-height: 1.7;
            a {
              text-decoration: none;
              color: #fff;
              &:hover {
                cursor: pointer;
                color: #868584;
              }
            }
          }
        }

      }
      .footer__countries {
        display: block;
        position: relative;
        width: 17%;
        padding: 0 0.5em;
        color: #fff;
        font-family: 'Ubuntu', sans-serif;
        font-size: 1em;
        font-weight: 300;
        text-align: justify;
        p {
          padding: 0 0 1em 0;
          font-family: 'Exo 2', sans-serif;
          font-size: 1.3em;
          font-weight: 400;
          line-height: 1.5;
        }
        .footer__countries__wrap {
          margin: 0 -0.2em;
          .footer__countries--box {
            position: absolute;
            height: 85%;
            padding: 0.2em 0.5em;
            overflow-y: scroll;
            color: #fff;
            background-color: rgba(192, 192, 192, 0.3);
            li {
              padding: 0 0.2em;
              font-family: 'Ubuntu', sans-serif;
              font-size: 0.9em;
              font-weight: 300;
              line-height: 1.7;
              &:hover {
                cursor: pointer;
                background-color: #4d5152;
              }
            }
          }
        }
      }
      .footer__contacts {
        display: block;
        padding: 0 0.5em;
        color: #fff;
        font-family: 'Ubuntu', sans-serif;
        font-size: 1em;
        font-weight: 300;
        text-align: justify;
        p {
          padding: 0 0 1em 0;
          font-family: 'Exo 2', sans-serif;
          font-size: 1.3em;
          font-weight: 400;
          line-height: 1.7;
        }
        &:last-of-type p {
          padding-bottom: 0.5em;
        }
        ul {
          list-style-type: none;
          padding: 0;
          li {
            font-family: 'Ubuntu', sans-serif;
            font-size: 0.9em;
            font-weight: 300;
            color: #fff;
            line-height: 1.7;
            a {
              text-decoration: none;
              color: #fff;
              &:hover {
                cursor: pointer;
                color: #868584;
              }
            }
          }
        }
        .btn__consultation {
          margin: 0.5em 0;
        }
      }
    }
    .footer__copyright {
      padding: 0.5em 1em;
      color: #fff;
      font-family: 'Ubuntu', sans-serif;
      font-size: 1em;
      font-weight: 300;
    }
  }
}