.header {
  height: 2.625em;
  background-color: #666;
  .header__fixed {
    background-color: #666;
    position: fixed;
    width: 100%;
    z-index: 99999;
    .container {
      .navbar {
        width: 100%;
        padding: 0.5em 0;
        line-height: 1.2;
        .navbar__menu {
          display: inline-block;
          float: left;
          font-family: 'Ubuntu', sans-serif;
          font-size: 1em;
          font-weight: 300;
          line-height: 1.4;
          li {
            display: inline;
            a {
              text-decoration: none;
              padding: 0 1em;
              color: #fff;
              &:hover {
                cursor: pointer;
                color: #868584;
              }
            }
          }
        }
        .header__phone {
          float: left;
          padding: 0 0.5em 0 2em;
          select {
            width: 100%;
            color: #fff;
            font-family: 'Ubuntu', sans-serif;
            font-size: 1.2em;
            font-weight: 300;
            border: 0;
            background: url(../../pic/arrow_down.png) no-repeat 0 #666;
            padding-left: 1em;
            -webkit-appearance: none;
            -moz-appearance: none;
          }
        }
        .header__consultation {
          display: inline-block;
          width: 19%;
          float: left;
          text-align: end;
        }

      }

    }
  }
}