<div class="nav_menu">
    <div class="variants_catalog">
        <p>каталог вариантов</p>
    </div>
    <ul>
        <li>
            <a href="about_us.html" target="_self">О нас</a>
        </li>
        <li>
            <a href="process_payment.html" target="_self">Процесс и оплата</a>
        </li>
        <li>
            <a href="guarantees.html" target="_self">Доверие и безопасность</a>
        </li>
        <li>
            <a href="q&a.html" target="_self">Вопросы и ответы</a>
        </li>
        <li>
            <a href="contacts.html" target="_self">Контакты</a>
        </li>
        <li>
            <a href="blog.html" target="_self">Блог</a>
        </li>
    </ul>
</div>