<section class="search__variants">
    <div class="container">
        <div class="variants__catalog">
            <h2 class="variants__catalog--title">
                КАТАЛОГ ВАРИАНТОВ
            </h2>
            <form action="variants.php">

                <fieldset>
                    <label for="target">
                        <a href="#" id="click-priority">
                            <img src="../pic/priority_sign.png" alt="img_not_found">
                            <span>приоритет</span>
                        </a>
                    </label>
                    <select name="target" title="Цель" id="target">
                        <option disabled selected>Какая ваша цель?</option>
                        <option value="study">Учеба</option>
                        <option value="holiday">Каникулы</option>
                        <option value="migration">Миграция</option>
                        <option value="work">Работа</option>
                    </select>

                    <select name="destination" title="Напрваление" id="destination">
                        <option disabled selected>Куда хотите уехать?</option>
                        <option value="europe">Европа</option>
                        <option value="usa">Америка</option>
                        <option value="england">Англия</option>
                        <option value="asia">Азия</option>
                    </select>

                    <select name="language" title="Выбор языка" id="language">
                        <option disabled selected>Требуемый язык</option>
                        <option value="eng">Английский</option>
                        <option value="esp">Испанский</option>
                        <option value="chi">Китайский</option>
                        <option value="por">Португальский</option>
                    </select>

                    <select name="level_language" title="Уровень знания языка" id="level">
                        <option disabled selected>Уровень знания языка</option>
                        <option value="free">Свободное владение</option>
                        <option value="self">Самодостаточное владение</option>
                        <option value="elementary">Элементарное владение</option>
                    </select>

                    <button class="btn__find__variants">
                        <span>Найдите варианты</span>
                        <span>с учетом вашего приоритета</span>
                        <span></span>
                    </button>

                    <p class="priority">
                        <a href="why_use_priority.html">Зачем выставлять приоритет?</a>
                    </p>
                </fieldset>

            </form>
        </div>
    </div>
</section>